<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Look at my dickbut isn't it gorgeous</p>
    <img src="https://www.dictionary.com/e/wp-content/uploads/2018/07/dick-butt3.jpg" alt="Here should be  a dickbut">
    <form method="post" action="/login">
        <label for="user">Inser Username</label>
        <input type="text" id="user" name="user">
        <br>
        <label for="pass">Insert password</label>
        <input type="password", id="pass", name="pass">
        <br>
        <button type="submit">Log in</button>
    </form>
  </body>
</html>