<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>You did it you little genius</p>
    <form action="post" action="/secret" id="form" name="form">
    <label for="chatInput">Type message</label>
    <br>
    <input type="text" name="chatInput" id="chatInput">
    <br>
    <button type="submit">Send message</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    </body>
</html>