extends layout

block content
  h1= title
  form(action='/login', method='post')
    .form-group
      label(for='username') Username
      input#username.form-control(name='username', required='required')
    .form-group
      label(for='password') Password
      input#password.form-control(type='password', name='password', required='required')
    button(type='submit').btn.btn-primary Sign in
    